<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="CapsuleTest">
    <classes>
		 <class name="com.capsulecrm.qa.tests.LoginCapsuleCRMTest"/>
         <class name="com.capsulecrm.qa.tests.AccountSettingTest"/>
    </classes>
  </test> 
    
</suite> <!-- Suite -->
